






  

  <main id="main" class="main">

    <div class="card-body">
      <h5 class="card-title">Projects</h5>

      <!-- Default Table -->
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date Debut</th>
            <th scope="col">Date Fin</th>
            <th scope="col">Budget</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.nomProjet }}</td>
            <td>{{ project.descriptionProjet }}</td>
            <td>{{ project.dateDebutProjet }}</td>
            <td>{{ project.dateFinProjet }}</td>
            <td>{{ project.budgetProjet }}</td>
            <td>{{ project.statut }}</td>
          </tr>
        </tbody>
      </table>
      <!-- End Default Table Example -->
    </div>

  </main><!-- End #main -->

 

 

